.App {
  background-color: lightcyan;
  width: 600px;
  margin: 3rem auto;
  padding: 3rem;
  font-size: x-large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.post {
  background-color: aqua;
  margin-bottom: 2rem;
  padding: 0.3rem 2rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

